#header{
 background-color : royalblue;
}

#footer{
 color : white;
 href : white;
 background-color: royalblue;
}

.navbar{
 background-color:royalblue;
}

A.developer{
    color: white;

}

.hItem{
    color:white;
}