<!DOCKTYPE html>
<html>
<head>
	{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<title>{% block title %} {% endblock %} - Room Schedular</title>
    <script type=text/javascript src="{{
  url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
	{% endblock %}
</head>
<body>
	<header>
		<div class='navbar navbar-static-top bs-docs-nav' id ='top' role='banner'>
			<ul class ="nav navbar-nav">
				<li><a class="hItem" href='/login'>Login</a></li>
				<li><a class="hItem" href='/search'>Search</a></li>
				<li><a class="hItem" href='/results'>Search Results</a></li>
				<li><a class="hItem" href='/book'>Book</a></li>
                <li><a class="hItem" href='/buildingSpec'>Building Specs</a></li>
				<li><a class="hItem" href='/logout'>Logout</a></li>
			</ul>
		</div>
		<h1>Room schedular for Luther College</h1>
	</header>
	<div id="content">
		{% block content %} {% endblock %}
	</div>
	<div id="footer">
		{% block footer %}
		<p>&copy; Copyright 2014 by <a href="http://lanejo01.github.io" class="developer">Joe Lane</a> and <a href="http://daviis.github.io/" class="developer">Isaac Davis</a></p>
		{% endblock %}
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


</body>
</html>
