<!DOCKTYPE html>
<html>
<head>
	{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<title>{% block title %} {% endblock %} - Room Schedular</title>
	{% endblock %}
</head>
<body>
	<header>
		<div class='navbar navbar-static-top bs-docs-nav' id ='top' role='banner'>
			<ul class ="nav navbar-nav">
				<li><a href='/login'>Login</a></li>
				<li><a href='/search'>Search</a></li>
				<li><a href='/results'>Search Results</a></li>
				<li><a href='/book'>Book</a></li>
				<li><a href='/logout'>Logout</a></li>
			</ul>
		</div>
		<h1>Room schedular for Luther College</h1>
	</header>
	<div id="content">
		{% block content %} {% endblock %}
	</div>
	<div id="footer">
		{% block footer %}
		<p>&copy; Copyright 2014 by <a href="http://lanejo01.github.io">Joe Lane</a> and <a href="http://daviis.github.io/">Isaac Davis</a></p>
		{% endblock %}
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>
